# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SearchAlgorythm.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\SU\RiderProjects\SearchAlgorythm\.idea\.idea.SearchAlgorythm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
